{
  "METHOD_LENGTHS": false,
  "UNUSED_IMPORTS": false,
  "UNUSED_VARIABLES": false,
  "INCORRECT_NAMING_CONVENTIONS": false,
  "WILDCARD_IMPORTS": false,
  "CLASS_LENGTHS": false,
  "UNNECESSARY_NESTING": false,
  "SQL_INJECTION": false,
  "COMMENT_SMELLS": false,
  "CODE_SHORTENING": false,
  "MAX_FCN_LENGTH": 10,
  "MAX_CLASS_LENGTH": 50,
  "MIN_REJECT_THRESHOLD": 5,
  "GEMINI_MODEL": "gemini-pro"
}
