{
  "METHOD_LENGTHS": true,
  "UNUSED_IMPORTS": false,
  "UNUSED_VARIABLES": true,
  "INCORRECT_NAMING_CONVENTIONS": true,
  "WILDCARD_IMPORTS": true,
  "CLASS_LENGTHS": true,
  "UNNECESSARY_NESTING": true,
  "SQL_INJECTION": true,
  "COMMENT_SMELLS": true,
  "CODE_SHORTENING": true,
  "MAX_FCN_LENGTH": 10,
  "MAX_CLASS_LENGTH": 50,
  "MIN_REJECT_THRESHOLD": 5,
  "GEMINI_MODEL": "gemini-pro"
}
